<div class="container">
  

  <div class="text-center">
    <img src="./images/factory3.JPG" class="img-fluid" id="factoryPic" alt="Responsive image">
  </div>
  <div class="container bg-secondary h-100 mb-4" id="mainBody">
    <div class="row">
      <div class="col-sm-2">
        <ul class="list-group mt-2 mb-2">
          <li class="list-group-item">First Category</li>
          <li class="list-group-item">Second Category</li>
          <li class="list-group-item">Third Category</li>
          <li class="list-group-item">Fourth Category</li>
          <li class="list-group-item">Fifth Category</li>
          <li class="list-group-item">Sixth Category</li>
        </ul>
      </div>
      <div class="col-sm-10 mt-2 mb-2">
        <div class="card bg-light h-100">
        </div>
      </div>
    </div>
  </nav>



</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>
