<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="text-center">
          <div class="card card-signin flex-row my-5">
            <div class="card-body">
              <h5 class="card-title text-center text-lg">Parts Inventory</h5>
              <form class="form-signin">
                <div class="form-label-group">
                  <label for="inputUserame">Part Name</label>
                  <input type="text" id="inputUserame" class="form-control" placeholder="" required autofocus>
                </div>

                <div class="form-label-group">
                  <label for="inputEmail">Vendor Name</label>
                  <input type="text" id="inputEmail" class="form-control" placeholder="" required>
                </div>

                <div class="form-label-group">
                  <label for="inputPassword">Part Type</label>
                  <input type="text" id="inputPassword" class="form-control" placeholder="" required>
                </div>

                <div class="form-label-group">
                  <label for="inputConfirmPassword">Pricing</label>
                  <input type="text" id="inputConfirmPassword" class="form-control" placeholder=""
                    required><br>
                </div>
                
                <div class="form-label-group">
                  <label for="inputConfirmPassword">Stock Quantity</label>
                  <input type="text" id="inputConfirmPassword" class="form-control" placeholder=""
                    required><br>
                </div>

                <div class="form-label-group">
                  <label for="inputConfirmPassword">Description</label>
                  <input type="text" id="inputConfirmPassword" class="form-control" placeholder=""
                    required><br>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button><br>

                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>
