<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="text-center">
          <div class="card card-signin flex-row my-5">
            <div class="card-body">
              <h5 class="card-title text-center text-lg">Parts Inventory</h5>
              <form class="formNewPart">
                <div class="form-label-group">
                  <label for="inputPart">Part Name</label>
                  <input type="text" id="inputPart" class="form-control" placeholder="" required autofocus>
                </div>

                <div class="form-label-group">
                  <label for="inputVendor">Vendor Name</label>
                  <input type="text" id="inputVendor" class="form-control" placeholder="" required>
                </div>

                <div class="form-label-group">
                  <label for="inputType">Part Type</label>
                  <input type="text" id="inputType" class="form-control" placeholder="" required>
                </div>

                <div class="form-label-group">
                  <label for="inputPrice">Price</label>
                  <input type="text" id="inputPrice" class="form-control" placeholder="" required><br>
                </div>

                <div class="form-label-group">
                  <label for="inputStock">Stock Quantity</label>
                  <input type="text" id="inputStock" class="form-control" placeholder="" required><br>
                </div>

                <div class="form-label-group">
                  <label for="inputDescription">Description</label>
                  <input type="text" id="inputDescription" class="form-control" placeholder="" required><br>
                </div>
                <div class="form-label-group">
                  <label for="inputPicture">Picture</label>
                  <input type="text" id="inputPicture" class="form-control" placeholder="" required><br>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button><br>

                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/parts.js"></script>