<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="text-center">
          <div class="card card-signin flex-row my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Register</h5>
              <form class="form-signin">
                <div class="form-label-group">
                  <label for="inputUsername">Username</label>
                  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-label-group">
                  <label for="inputFirstName">FirstName</label>
                  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-label-group">
                  <label for="inputLastName">LastName</label>
                  <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-label-group">
                  <label for="inputEmail">Email address</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                </div>

                <hr>

                <div class="form-label-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-label-group">
                  <label for="inputConfirmPassword">Confirm password</label>
                  <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password"
                    required><br>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button><br>

                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>